* {
    margin: 0px;
    padding: 0px;
}

.heading {
    background: salmon;
    color: darkblue;
    font-size: 50px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30%;
    text-align: center;
}

#table1 {
    border: 8px;
    border-radius: 10%;
    padding: 15px;
    margin: auto;
    background-color: purple;
}

.tdata {
    border: 8px double blue;
    padding: 25px;
    background-color: violet;
}

.head {
    border: 4px;
    background-color: lime;
}